*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark-color:#1f2022;
    --dark-green:#002726;
    --aqua-color:#00ffff;
}
body{
    font-family: Allerta Stencil,sans-serif;
}
.special-heading{
    color: white;
    font-size: 38px;
    padding: 15px;
    font-weight: bold;
    display: flex;
}
@media(max-width:320px){
    .special-heading{
        font-size: 24px;
    }
}
.special-heading span{
    color: var(--aqua-color);
    font-size: 35px;
    margin-right: 5px;
}
.big-container{
    height: 100vh;
    min-height: 100vh;
    background-color: var(--dark-green);
}
.big-container .container{
    width: 95%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .icons{
    color: white;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    display: none;
    right: 5%;
}
#check{
    display: none;
}

@media(max-width: 768px){
    .header .icons{
        display: block;
    }
    .nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        display: none;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(15px);
    }
    #check{
        position: absolute;
        right: 5%;
        display: none;
       
    }
    #check:checked~.nav{
        display: block;
    }
    .header .nav .links{
        flex-direction: column;
        height: 100%;
        
    }
    .header .nav .links .main{
        display: flex;
        flex-direction: column;
        height: 70%;
        margin-top: 10px;
    }
    .header .nav .links .main a{
        margin: 1.5rem 0;
        transition: .2s;
    }
    .header .nav .links .main a:hover{
        padding-top: 5px;
    }
    .header .nav .links .button{
        width: 160px;

        height: 30%;
        margin-top: 34px;
        flex-direction: column;
        align-items: center;
    }
    .header .nav .links .button a:first-child{
        margin-bottom: 20px;
    }
}
.header .logo{
    font-size: 25px;
    color: white;
    font-weight: bolder;
}
@media(min-width: 769px){
    .header .nav{
        width: 65%;
    }
    .header .nav .links{
        width: 100%;
    }
}
.header .nav .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav .links .button{
    width: 160px;
    display: flex;
    justify-content: space-between;
}
.header .nav .links .main a{
    text-decoration: none;
    color: white;
    padding: 0 7px;

}
.header .nav .links .main a:hover{
    color: aqua;
}
.header .nav .links .button a:first-child{
    width: 76px;
    height: 35px;
    background-color: aqua;
    color: #0e0e1c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1vh;
    
}
.header .nav .links .button a:first-child:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.header .nav .links .button a:last-child{
    width: 76px;
    height: 35px;
    background-color: transparent;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1vh;
    border: 1px solid white;
}
.header .nav .links .button a:last-child:hover{
    background-color: aqua;
    color: #0e0e1c;
    border: 0px;
}
.container .photo {
    width: 46%;
    height: 815px;
    position: absolute;
    top: 1%;
    left: 53%;
}
.container .photo img{
    width: 100%;
    height: 100%;
}
.container .info{
    position: absolute;
    top: 33%;
    padding: 24px;
    font-size: 45px;
    width: 55%;
    color: white;
    line-height: 56px;
}
.container .info span{
    color: aqua;
    font-size: 52px;
    font-weight: bold;
}
.container .second-button{
    width: 200px;
    height: 45px;
    position: absolute;
    top: 70%;
    left: 10%;
    display: flex;
    justify-content: space-between;
}
.container .second-button a:first-child{
    height: 100%;
    width: 90px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;

}
.container .second-button a:last-child{
    height: 100%;
    width: 90px;
    text-decoration: none;
    color: #0e0e1c;
background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    font-weight: bold;
}
@media(max-width: 992px){
    .container .photo{
        width: 45%;
        height: 98%;
        left: 55%;
        top: 20%;
    }
    .container .info{
        font-size: 40px;
        line-height: 52px;
    }
    .container .info span{
        color: aqua;
        font-size: 45px;
        font-weight: bold;
    }
}
@media(max-width: 768px){
    .container .photo {
        width: 53%;
        height: 429px;
        left: 14%;
        top: 53%;
    }
    .container .info{
        font-size: 39px;
        width: 100%;
        line-height: 59px;
        top: 10%;
        text-align: center;
    }
    .container .info span{
        color: aqua;
        font-size: 42px;
        font-weight: bold;
    }
    .container .second-button {
        width: 200px;
        height: 45px;
        position: absolute;
        top: 39%;
        left: calc(50% - 90px);
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 650px){
    .container .info{
        font-size: 35px;
        line-height: 49px;
    }
}
@media(max-width: 520px){
    .container .info{
        font-size: 31px;
        line-height: 47px;
    }
    .container .info span{
        color: aqua;
        font-size: 36px;
        font-weight: bold;
    }
    .container .photo {
        width: 80%;
        height: 420px;
        left: 4%;
        top: 50%;
    }
}
@media(max-width: 400px){
    .container .info{
        font-size: 25px;
        line-height: 39px;
    }
    .container .info span{
        color: aqua;
        font-size: 31px;
        font-weight: bold;
    }
    .container .photo {
        width: 87%;
        height: 350px;
        left: 4%;
        top: 47%;
    }
    .container .second-button{
        top: 35%;
    }
}
@media(max-width: 320px){
    .container .info{
        font-size: 17px;
        
    }
    .container .second-button {
        width: 100%;
        height: 45px;
        position: absolute;
        top: 39%;
        left: calc(50% - 71px);
        display: flex;
        justify-content: space-evenly;
        left: 0;
    }
    .container .info span{
        color: aqua;
        font-size: 23px;
        font-weight: bold;
    }
    .container .second-button a:first-child{
        width: 74px;
    }
    .container .second-button a:last-child{
        width: 74px;
    }
}
.about-us{
    padding: 60px 0;
    background-color: var(--dark-color);
    
}
.about-us .container-about-us{
    padding: 25px;
}
.about-us .container-about-us .card{
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%), 0 2px 16px 0 rgb(0 0 0 / 35%);
    display: flex;
    flex-direction: row-reverse;
    margin: 60px 0;
}
.about-us .container-about-us .card .img-in-about-us{
    height: 400px;
    width: 50%;
}
.about-us .container-about-us .card .img-in-about-us img{
    height: 100%;
    max-width: 100%;
}
.about-us .container-about-us .card .info-about-us{
    width: 50%;
    padding: 15px;
}
.about-us .container-about-us .card .info-about-us .text{
    color: white;
    font-size: 17px;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: bolder;
    margin: 15px 0;
}
@media(max-width:992px){
    .about-us .container-about-us .card .info-about-us .text{
        font-size: 15px;
    }
}
.about-us .container-about-us .card .info-about-us .see-more{
    background-color: aqua;
    width: 140px;
    padding: 17px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.about-us .container-about-us .card .info-about-us .see-more a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:768px){
    .about-us .container-about-us .card{
        flex-direction: column;
    }
    .about-us .container-about-us .card .info-about-us{
        width: 100%;
    }
    .about-us .container-about-us .card .img-in-about-us {
        height: 332px;
        width: 90%;
    }
}
@media(max-width:500px){
    .about-us .container-about-us .card .info-about-us .text{
        font-size: 14px;
        line-height: 1.7;
    }
    .about-us .container-about-us .card .img-in-about-us{
        height: 215px;
    }
}
@media(max-width:300px){
    .special-heading{
        font-size: 21px;
        padding: 0;
    }
    .about-us .container-about-us .card .info-about-us .text{
        font-size: 10px;
    }
    .about-us .container-about-us .card .info-about-us .see-more{
        width: 95px;
    }
    .about-us .container-about-us .card .info-about-us .see-more a{
        font-size: 12px;
    }
    .about-us .container-about-us .card .img-in-about-us{
        height: 200px;
    }
}
/*start our team*/
.our-team{
    padding: 60px 0;
    background-color: var(--dark-green);
}
.container-about-team{
    padding: 25px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 20px;
}
@media(max-width:320px){
    .container-about-team{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

}
.container-about-team .col{
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%), 0 2px 16px 0 rgb(0 0 0 / 35%);
}
.container-about-team .col img{
border-radius: 50%;
width: 180px;
margin: 10px 0;
height: 180px;
}
.container-about-team .col .info{
    margin: 4px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-about-team .col .info .name{
    margin: 5px 0 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.container-about-team .col .info .specialization{
    margin: 5px 0 15px;
    color: white;
    font-size: 16px;
}
.container-about-team .col .info .button{
    width: fit-content;
    padding: 10px;
    border: 2px solid aqua;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 15px;
}
.container-about-team .col .info .button:hover{
    background-color: var(--aqua-color);
}
.container-about-team .col .info .button a{
    color: white;
    text-decoration: none;
}
.container-about-team .col .social{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.container-about-team .col .social .social-media{
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0;
}
.container-about-team .col .social .social-media i{
    width: 60%;
    color: white;
    border: 1px solid aqua;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.container-about-team .col .social .social-media .followers{
    color: white;
    margin: 4px 0px;
    font-size: 25px;
    font-weight: bold;
}
@media(max-width:320px){
    .container-about-team .col .social .social-media .followers{
        font-size: 16px;
    }
}
.container-about-team .col .social .social-media p{
    color: white;
    margin: 6px 0px 25px;
    font-size: 16px;
}
@media(max-width:320px){
    .container-about-team .col .social .social-media p{
        font-size: 14px;
    }
}
.Testimonials{
    padding: 60px 0;
    background-color: var(--dark-color);
}
.Testimonials .special-heading{
    justify-content: center;
}
.Testimonials .container-Testimonials{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
}
.Testimonials .container-Testimonials .col{
    padding: 15px 10px;
}
.Testimonials .container-Testimonials .text{
    color: white;
    background-color: var(--aqua-color);
    padding: 15px;
    border-radius: 15px;
    position: relative;
}
.Testimonials .container-Testimonials .text::before{
    position: absolute;
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: var(--aqua-color) transparent transparent transparent;
    top: 100%;
    left: 25px;
}
.Testimonials .container-Testimonials .text p{
    line-height: 1.5;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 800;
}
.Testimonials .container-Testimonials .photo{
    width: 95px;
    height: 95px;
}
.Testimonials .container-Testimonials .photo img{
    height: 100%;
    width: 100%;
     border-radius: 50%; 
}
.Testimonials .container-Testimonials .info{
    display: flex;
    gap: 15px;
    margin: 30px 0;
    align-items: center;
}
.Testimonials .container-Testimonials .info .name{
    color: white;
    text-transform: capitalize;
}
.Our-Statistics{
    padding: 60px 0;
    background-color: var(--dark-green);
}
.Our-Statistics .container-Statistics{
    padding: 25px;
}
.Our-Statistics .container-Statistics .container{
    padding: 25px;
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 60px 0;
}
@media(max-width:767px){
    .Our-Statistics .container-Statistics .container{
        flex-direction: column;
    }
}
.Our-Statistics .container-Statistics .container .card{
padding: 20px;
box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%), 0 2px 16px 0 rgb(0 0 0 / 35%);
background-color: var(--dark-color);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 200px;
height: 160px;
}
.Our-Statistics .container-Statistics .container .card .icon{
    margin: 10px 0;
    color: var(--aqua-color);
    font-size: 20px;
}
.Our-Statistics .container-Statistics .container .card .number{
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;
}
.Our-Statistics .container-Statistics .container .card .text{
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;
}